@model SportCentrum.ViewModels.SheduleViewModel
@{
    ViewData["Title"] = "Reserve date";
    bool isGroup = Model.TrainingType == "group";
}

<div class="row row-cols-1 g-4 min-vh-100">
    @foreach (var day in Model.Days)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-header color-main text-white text-center rounded-top fw-bold">
                    <span>@day.Date.ToString("dddd, dd MM")</span>
                </div>
                <div class="card-body d-flex flex-column gap-2">
                    @foreach(var slot in day.TimeSlots)
                    {
                        <form method="post" asp-controller="Trainings" asp-action="Reserve">
                            <input type="hidden" name="date" value="@day.Date.ToString("yyyy-MM-dd")/>
                            <input type="hidden" name="time" value="@slot.Time"/>
                            <button class="btn rounded-pill" type="submit">
                                @slot.Time.ToString(@"hh\:mm");
                                @if(isGroup)
                                {
                                    <div class="small text-muted">
                                        @slot.CoachName - @slot.Capacity
                                    </div>
                                }
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
        
    }
</div>
